<?xml version="1.0" encoding="UTF-8" ?>
<appSettings>
  <add key="HostAccount" value="host"/>
  <add key="HostPassword" value="tinashop9119"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="elmah.mvc.disableHandler" value="false" />
  <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
  <add key="elmah.mvc.requiresAuthentication" value="false" />
  <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
  <add key="elmah.mvc.allowedRoles" value="*" />
  <add key="elmah.mvc.allowedUsers" value="*" />
  <add key="elmah.mvc.route" value="elmah" />
  <add key="admin_host" value="nhan.nguyen220488@gmail.com"/>
  <add key="admin_content_relative_path" value="/Content/SmartAdminPackage/"/>
  <add key="admin_avatar_default" value="/Content/SmartAdminPackage/img/avatars/male.png" />
  <add key="admin_avatar_male_default" value="/Content/SmartAdminPackage/img/avatars/male.png" />
  <add key="admin_avatar_female_default" value="/Content/SmartAdminPackage/img/avatars/female.png" />
  <add key="admin_main_menu_type_id" value="2" />
  <add key="image_folder_path" value="/MediaFiles/Images" />
  <add key="video_folder_path" value="/MediaFiles/Videos" />
  <add key="other_media_folder_path" value="/MediaFiles/Others" />
  <add key="mediatype_productimage_id" value="1"/>
  <add key="mediatype_sliderimage_id" value="2"/>
  <add key="mediatype_staticobjects_id" value="4"/>
  <add key="media_noimage_id" value="2"/>
</appSettings>
