<?xml version="1.0" encoding="UTF-8" ?>
<connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=NHANNGUYEN-HOME\MSSQLSERVER2008;Initial Catalog=TinaShopV2;User Id=sa; password=123123" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=TinaShopV2;User Id=sa; password=123123" providerName="System.Data.SqlClient" />
</connectionStrings>