@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_LimoLayout.cshtml";
    ViewBag.ContentCssClass = "about";
}

<!--Hero Static-->
<section class="hero-static">
    <div class="overlay"></div>
    <div style="background-image: url(Content/LIMO/img/about/about_bg.jpg);" class="bg-image" data-stellar-background-ratio="0.5"></div>
    <div class="content">
        <div class="inner">
            <h1>Awesome team.<br /><span>Awesome shop.</span></h1>
        </div>
    </div>
</section><!--Hero Static Close-->
<!--About Info-->
<section class="space-top space-bottom container">
    <h2>Đôi nét về shop</h2>
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-6">
            <p class="p-style3"> - Shop chuyên bán túi xách xuất khẩu, túi xách thời trang các hãng Mango, Zara, H&M, Aldo, Charles & Keith, Tory Burch, M.Kors, Coach, ASOS, Topshop...... xuất khẩu xịn! Nhiều mẫu mã đẹp,giá phải chăng!</p>
        </div>
        <div class="col-lg-6 col-lg-offset-1 col-md-6 col-sm-6">
            <p class="p-style3"> - Toàn bộ hình ảnh là hình chụp thật tại shop và là hình ảnh độc quyền của Tina Shop   .</p>
            <p class="p-style3"> - Shop mở cửa từ 9:30 am đến 9pm tất cả các ngày trong tuần, kể cả Thứ 7, Chủ nhật.</p>
        </div>
    </div>
</section><!--About Info Close-->
@*
    <!--Team-->
    <section class="team container">
        <h3>Meet our team</h3>
        <div class="row">
            <!--Member-->
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="member">
                    <div class="mask"><img src="/Content/LIMO/img/about/team/1.png" alt="1" /></div>
                    <h4>Jonathan Doe</h4>
                    <h5>CEO, Founder</h5>
                    <div class="social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-pinterest-square"></i></a>
                        <a href="mailto:mail@mail.com"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
            <!--Member-->
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="member">
                    <div class="mask"><img src="/Content/LIMO/img/about/team/1.png" alt="1" /></div>
                    <h4>Jonathan Doe</h4>
                    <h5>CEO, Founder</h5>
                    <div class="social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-pinterest-square"></i></a>
                        <a href="mailto:mail@mail.com"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
            <!--Member-->
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="member">
                    <div class="mask"><img src="/Content/LIMO/img/about/team/1.png" alt="1" /></div>
                    <h4>Jonathan Doe</h4>
                    <h5>CEO, Founder</h5>
                    <div class="social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-pinterest-square"></i></a>
                        <a href="mailto:mail@mail.com"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
            <!--Member-->
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="member">
                    <div class="mask"><img src="/Content/LIMO/img/about/team/1.png" alt="1" /></div>
                    <h4>Jonathan Doe</h4>
                    <h5>CEO, Founder</h5>
                    <div class="social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-pinterest-square"></i></a>
                        <a href="mailto:mail@mail.com"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section><!--Team Close-->
*@