@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_LimoLayout.cshtml";
}

<!--Breadcrumbs-->
<ol class="breadcrumb">
    <li><a href="/">Trang chủ</a></li>
    <li>@ViewBag.Title</li>
</ol><!--Breadcrumbs Close-->
<!--Contacts-->
<section class="container">
    <div class="row">
        <!--Contact Info-->
        <div class="col-lg-5 col-lg-offset-1 col-md-5 col-sm-5">
            <h3>Chi nhánh 1:</h3>
            <div class="cont-info-widget">
                <ul>
                    <li><i class="fa fa-home"></i>262/6 Lê Văn Sỹ, P.14, Q.3, TP.HCM</li>
                    <li><i class="fa fa-phone"></i><a href="tel:0938020091">0938020091</a></li>
                </ul>
            </div>
        </div>
    </div>
</section><!--Contacts Close-->
@*
    <!--Google Map-->
    <section class="map container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1959.659408408377!2d106.68125705826562!3d10.786875706342762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xf69f84b984b5cac3!2sTina+Shop!5e0!3m2!1sen!2s!4v1435686676130&key=AIzaSyDjXJRC6W91yrCJ84tJlJDtosEQEu_7LTw" width="800" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section><!--Google Map Close-->
*@
<!--Contacts-->
<section class="container">
    <div class="row">
        <!--Contact Info-->
        <div class="col-lg-5 col-lg-offset-1 col-md-5 col-sm-5">
            <h3>Chi nhánh 2:</h3>
            <div class="cont-info-widget">
                <ul>
                    <li><i class="fa fa-home"></i>190A Trần Bình Trọng, P.3, Q.5, TP.HCM</li>
                    <li><i class="fa fa-phone"></i><a href="tel:0938030091">0938030091</a></li>
                </ul>
            </div>
        </div>
    </div>
</section><!--Contacts Close-->
<!--Google Map-->
<section class="map container">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=zmAYORF-OFQk.kCcPebtHcq38" width="800" height="600"></iframe>
</section><!--Google Map Close-->