@{
    ViewBag.Title = "Login Failure";
    Layout = "~/Areas/Administration/Views/Shared/_AnonymousLayout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<h3 class="text-danger">Unsuccessful login with service.</h3>
